# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#config
env.ts

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/binance.js
dist/binance.js.map
dist/data.js
dist/data.js.map
dist/dataBase.js
dist/dataBase.js.map
dist/main.js
dist/main.js.map
dist/utils.js
dist/utils.js.map
dist/models/bookTicker.model.js
dist/models/bookTicker.model.js.map
dist/models/bookTickers.model.js
dist/models/bookTickers.model.js.map
dist/models/coinList.model.js
dist/models/coinList.model.js.map
dist/models/compra.model.js
dist/models/compra.model.js.map
dist/models/exchangeInfo.model.js
dist/models/exchangeInfo.model.js.map
dist/models/filter.model.js
dist/models/filter.model.js.map
dist/models/listValue.model.js
dist/models/listValue.model.js.map
dist/models/rateLimit.model.js
dist/models/rateLimit.model.js.map
dist/models/symbol.model.js
dist/models/symbol.model.js.map
dist/models/symbolvalue.model.js
dist/models/symbolvalue.model.js.map
dist/models/user.model.js
dist/models/user.model.js.map
dist/services/telegram.service.js
dist/services/telegram.service.js.map
dist/services/user.service.js
dist/services/user.service.js.map
src/assets/banco.json
./assets/banco.json
assets/banco.json
src/services/dist/error.service.js
src/services/dist/telegram.service.js
src/dist/binance.js
src/dist/trade_controller.js
src/dist/dataBase.js
dist/trade_controller.js
dist/interfaces/DataBase.interface.js
dist/interfaces/DataBaseInterface.js
dist/services/error.service.js
